.Dashboard {
  background-color: #9c9c9c;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}
form {
  margin: 10px;
}
h2 {
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.Filter {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.invoice-ls {
  margin: 10px;
  padding: 10px;
  background-color: #e2e2e2;
  color: #333;
  border-bottom: 3px solid #999;
  cursor: pointer;
  font-weight: bold;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  transition: all 0.1s;
}
.invoice-ls:hover {
  transform: scale(1.04);
  box-shadow: 2px 2px 5px rgb(55, 48, 61);
}

.delete-btn {
  margin-right: 10px;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
}
.delete-btn:hover {
  color: rgba(170, 81, 253);
}
.Dashboard .delete-btn {
  float: right;
}
.confirm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}
.popup {
  background-color: #282c34;
  width: 35%;
  height: 35vh;
  border-radius: 25px;
  box-shadow: 2px 2px 5px black;
}
.content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.623);
}
.submit {
  border-radius: 5px;
  margin: 5px;
}
.submit:hover {
  color: red;
  box-shadow: 2px 2px 5px black;
}
